doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  .container
    nav
      ul#menu
        li
          a(href='#') Strona Główna
        li
          a(href='#') Strony WWW
        li
          a(href='#') Cennik 
        li
          a(href='#') Opinie
        li
          a(href='#') Kontakt
    block content
