doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    nav
      ul#menu
        li
          a(href='/') Strona Główna
        li
          a(href='uslugi_cennik') Usługi-Cennik 
        li
          a(href='/opinie') Opinie
        li
          a(href='kontakt') Kontakt
    block content
    //- footer
    //-   p
    //-     span
    //-       a(href='#')
    //-         i.fab.fa-facebook
    //-       a(href='#')
    //-         i.fab.fa-github
    //-       a(href='#')
    //-         i.fas.fa-at
    //-       a(href='#')
    //-         i.fab.fa-css3
  