doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      nav
        ul#menu
          li
            a(href='#') Strona Główna
          li
            a(href='#') Cennik
          li
            a(href='#') Opinie
          li
            a(href='#') Kontakt

      block content          